/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {


}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .navbar .navbar-nav li .btn{
        display: none;
    }
    .slider-area .slider-img{
        margin:0;
        padding:0;
    }
    .slider-area .slider-img img{
        width: 100%;
    }
    .apps-fe-img{
        display: block;
        overflow: hidden;
    } 
    .apps-fe-img .img{
        width: 100%;
        height: auto;
        
    }

    .f-right{
        display: none;
    }

    .integration .inte-img{
        width: 100%;
    }
    .integration .inte-img img{
        width: 100%;
    }
    .ult-fe-sec .headding h2{
        padding-right: 0;
    }
    .ult-fe-sec .headding p.h-txt {
        padding-right: 0;
    }
    .fe-sec .row {
        justify-content: center;
    }

    .pricing .headign {
        padding:0;
    }

    .test-sec {
        background: none;
    }

    .test-sec h2 {
        font-size:28px;
        padding-right: 0;
        text-align: center;
    }
    .test-sec p {
        padding-right: 0;
        text-align: center;
    }
    .dowload-platform {
        background-size: 500px;
    }

}

 
/* small mobile :320px. */
@media (max-width: 767px) {

    .integration .inte-img {
        overflow: hidden;
    }
    
    .responsiveMenu{
        margin:0;
        padding:0;
    }
    h2{
        font-size:25px;
    }
    p{
        font-size: 15px;
    }

    a{
        font-size: 13px;
    }
    .btn{
        font-size: 13px;
    }


    .menubar{
        margin-top:10px;
    }


    .nav-links{
    }
    .nav-btn{
        display: none;
    }

    .slider-area {
        height: 100%;
    }
    
    .slider-area .slider-img{
        display: flex;
        align-items: center;

    }
    .slider-area .slider-img img{
        width: 80%;
        margin:0 auto;
    }
    
    .slider-area .sl-text-area .top-text h2 {
        font-size: 30px;
        text-align: center;
    }
    .slider-area .sl-text-area .top-text p {
        font-size: 15px;
        text-align: center;
        padding:0;
    }

    .slider-area .top-text .ch{
        font-size:10px !important;
        color:red;
    }

    .slider-area .sl-text-area .top-text p span {
        padding: 16px 15px;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
    }


    .slider-area .sl-text-area .btn{
        margin-right: 0;
        font-size: 12px;
    }
    .slider-area .sl-btn{
        text-align: center;
    }

    .apps-fe .apps-fe-img {
        margin-left: 0px;
    }

    .apps-fe-img{
        
    }
    .apps-fe-img img{
        width: 90%;
    }

    .apps-fe .app-all-fe h2 {
        font-size: 30px;
        padding-right: 0;
        text-align: center;
    }

    .apps-fe .app-all-fe .ht-txt {
        font-size: 15px;
        text-align: center;
        padding:0 10px;
    }
    .apps-fe .app-all-fe .apps-fe-details .sub-details div p {
        padding-right: 0;
    }

    .apps-fe .app-all-fe .apps-fe-details .sub-details {
        display: block;
    }

    .sm-fe {
        margin-top: 25px;
    }
    .sm-fe h2 {
        font-size: 30px;
        text-align: center;
        border-right: none;
    }

    .sm-fe .sub-txt {
        padding-right:0px;
    }

    .billing-section .col-md-3{
        text-align: center;
    }

    .integration .inte-img img{
        width: 100%;
        margin: 0;
    }

    .integration .inte-txt-sec {
        margin-left:0px;
        text-align: center;
    }
    .inte-txt-sec h2 {
        font-size: 30px;
    }
    .inte-txt-sec p {
        padding-right: 0;
    }

    .wh-ch-app h2 {
        padding-left:0;
        padding-right: 0;
    }

    .ult-fe-sec .headding h2 {
        padding-right:0;
    }
    .ult-fe-sec .headding p.h-txt {
        padding-right:0;
    }

    .ult-fe-sec .fe-sec .ul-fe-ico {
        text-align: center;
    }

    .fe-sec .btn{
        margin-left: 90px;
    }

    .ul-bg-img{
        margin-top: 70px;
    }
    .ult-fe-sec .ul-bg-img img {
        margin-right: 0;
    }

    .pricing {
        padding-top: 50px;
        padding-bottom: 94px;
    }

    .pricing .headign h2 {
        font-size: 30px;
    }

    .pricing .btn-section {
        margin-top: 40px;
        margin-bottom: 40px;
    }


    .pricing .headign{
        margin: 0;
        padding: 0;
    }
    .cards-sec .card{
        margin-bottom: 40px;
    }
    
    .test-sec {        
        background-size: cover;
        position: relative;
        margin-bottom: 10px;
    }
    .test-sec::before {    
        position: absolute;
        top: 0;
        left: 0;    
        content: "";
        width: 100%;
        height: 100%;
        background:rgb(255, 237, 138);
        z-index:-1;
    }
    .test-sec h2 {
        font-size: 30px;
        padding-right:0;
        text-align:center;
        padding-top: 20px;
    }
    .test-sec p {
        padding-right: 0;
        color: #616368;
    }
    .test-sec h4 {
        font-size:19px;
    }

    .test-sec .mem-inner .mem-img {
        width: 90px;
        height: 70px;
        border-radius: 100%;
    }
    .test-sec .arrow .fa {
        margin-bottom: 5px;
    }




    .faq-area .faq-header p {
        padding:0;
    }

    .faq-area {
        margin-top:15px
    }
    .faq-area{
        margin-bottom: 50px;
    }
    #accordion .card{
        overflow: hidden;
    }



    .platform {
        display: block !important;
        text-align: center;
    }
    .img-playstore {
        margin-bottom: 20px;
        margin-right: 0;
    }

    .img-appstore{
        padding-left: 0;
    }

    
    .dowload-platform {
        background-size: 300px;
    }
    .dowload-platform h2 {
        text-align: center;
    }
    .dowload-platform p {
        text-align: center;
    }


}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {

    .container {width:450px}
    .slider-area .sl-text-area .btn {
        font-size: 17px;
    }
    .slider-area .sl-text-area a {
        font-size: 17px;
    }

    .test-sec{
        padding: 120px 0;
        background:rgb(255, 241, 111);
    }
    .test-sec .mem-inner .mem-img {
        height: 90px;
    }
    
}
